<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - "HMS" </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/HMSStyleSheet.css" rel="stylesheet" />
</head>
<body>
    <table id="MasterPageTable" width="100%">
        <tr height="2%">
            <td>
                <div id="HMSHeaderStyle">
                    <h1> SHAKTHI HOSPITALS</h1>
                </div>
            </td>
            <td>
            </td>
        </tr>
        </table>
    <table height="98%" width="100%"  >
        <tr height="97%">
            <td width="15%" >
                <ul style=" text-decoration: none;">
                    <li style=" text-decoration: none;">@Html.ActionLink("Dashboard", "Index", "Home")</li>
                    <li>@Html.ActionLink("Doctors", "Index", "Doctor")</li>
                    <li>@Html.ActionLink("Patients", "Index", "Doctor")</li>
                    <li>@Html.ActionLink("Appointment", "Index", "Doctor")</li>
                    <li>@Html.ActionLink("Ward Assignment", "Index", "Doctor")</li>
                    <li>@Html.ActionLink("Billing", "Index", "Doctor")</li>
                    <li>@Html.ActionLink("Blood Donor", "Index", "Doctor")</li>
                    <li>@Html.ActionLink("Exams", "Index", "Doctor")</li>
                </ul>
            </td>
            <td width="85%">
                @RenderBody()               
            </td>
        </tr>
        <tr height="1%">
            <td colspan="2" style="text-align: center;">
                 <hr />
                <footer style=" font-size: medium">
                    <p>&copy; @DateTime.Now.Year - Copyrights by Rajarathi Ramanathan</p>
                </footer>
            </td>
        </tr>
    </table>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
