@model IEnumerable<Hospital_Management_Software.Models.Doctor>

@{
    ViewBag.Title = "Doctors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Doctors of Shakthi Hospitals</h2>

<p  id="DisplayDetailsStyle">
    @Html.ActionLink("Add Doctor Details", "AddDoctor")
</p>
<table class="table">
    @foreach (var item in Model)
    {      
    <tr style="display: block;" id="DisplayDetailsStyle">
        <td></td>
        <td>
            @Html.DisplayFor(modelItem => item.Name_Title) . @Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName) @Html.DisplayFor(modelItem => item.Education) <br />
            @Html.DisplayFor(modelItem => item.Department) <br />
            @Html.DisplayFor(modelItem => item.Email) <br />
            @Html.DisplayFor(modelItem => item.Phone_Number)
        </td>        
        <td>
            @Html.ActionLink("Edit", "EditDoctor", new { id = item.Doctor_ID }) |
            @Html.ActionLink("Details", "DetailsDoctor", new { id = item.Doctor_ID }) |
            @Html.ActionLink("Delete", "DeleteDoctor", new { id = item.Doctor_ID })
        </td>
    </tr>
    } 

</table>
