@model IEnumerable<Hospital_Management_Software.Models.Doctor>

@{
    ViewBag.Title = "Doctors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Doctors of Shakthi Hospitals</h2>

<p  id="DisplayDetailsStyle">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    @foreach (var item in Model)
    {      
    <tr style="display: block;" id="DisplayDetailsStyle">
        <td>@Html.DisplayFor(modelItem => item.ProfilePic)</td>
        <td>
            @Html.DisplayFor(modelItem => item.Name_Title) . @Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName) @Html.DisplayFor(modelItem => item.Education) <br />
            @Html.DisplayFor(modelItem => item.Department) <br />
            @Html.DisplayFor(modelItem => item.Email) <br />
            @Html.DisplayFor(modelItem => item.Phone_Number)
        </td>        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Doctor_ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.Doctor_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Doctor_ID })
        </td>
    </tr>
    } 

</table>
